irony/
eshell/
bookmarks
transient/
smex-items
/elpa
recentf
/url
/rime
places
/private
org-roam.db
.dap-breakpoints
.lsp-session-v1
network-security.data
/request
/quelpa
/persp-confs
.org-id-locations
/emojis
/.cache
.mc-lists.el
mydictionary
/eaf
history
/auto-save-list
nov-places
.emacs.keyfreq
tramp
/emms